body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}
.app-tabbar__icon{
    display: inline-block;
    width: 29px;
    height: 21px;
    overflow: hidden;
}
.app-tabbar__icon img{
    width: 29px;
    height: 21px;
}
.app-common-padding{
    position: relative;
    padding: 10px 15px;
}
.weui-bar__item--on .app-tabbar__icon>p{
    margin-top: -21px;
}
.swiper-slide>img{
    width: 100%;
}
.weui-media-box__ft{
    position: absolute;
    font-size: 13px;
    color: #999999;
    width: 100%;
    bottom: 0;
    left: 0;
}
.found-top-active{
    color: #409EFF;
}
.found-top{
    padding-left: 5px;
}
.found-top>span{
    padding-right: 10px;
}
.found-top>span:last-child{
    padding-right: 0;
}
.app-common-font{
    font-size: 14px;
    color: #999;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    background-color: white;
}
.app-media-box__ft{
    font-size: 13px;
    color: #999999;
    margin-top: 5px;
}
.app-top-bottom-two{
    position: relative;
    margin: 0 15px;
    color: #999999;
    padding: 5px 0;
    font-size: 13px;
}
.gold-data{
    margin-bottom: 10px;
}
.app-top-bottom-two:before{
    content:" ";
    position:absolute;
    left:0;
    top:0;
    right:0;
    height:1px;
    border-top:1px dashed #C0BFC4;
    color:#C0BFC4;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
}

.app-top-solid:before{
    content:" ";
    position:absolute;
    left:0;
    top:0;
    right:0;
    height:1px;
    border-top:1px solid #C0BFC4;
    color:#C0BFC4;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
}
.app-top-bottom,.app-top-solid{
    position: relative;
}
.app-top-bottom:after{
    content:" ";
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:1px;
    border-bottom:1px solid #C0BFC4;
    color:#C0BFC4;
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
}
.app-top-right:after{
    content:" ";
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width: 1px;
    border-right:1px solid #ccc;
    color:#ccc;
    -webkit-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-transform:scaleX(0.5);
    transform:scaleX(0.5);
}
.app-back-top,.app-forum-discuss{
    position: fixed;
    right: 5px;
    bottom: 60px;
}
.app-back-top>img,.app-forum-discuss>img{
    width: 43px;
    height: 43px;
}
.app-top-img{
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.app-top-img>img{
    width: 100%;
}
.weui-bar__item--on:after{
    content:" ";
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:2px;
    border-bottom:2px solid #ffb300;
    color:#ffb300;
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
}
.app-navbar{
    position: relative;
    background-color: #fafafa;
    z-index: 1;
}
.app-media-box__hd{
    width: 43px;
    max-height: 50px;
    margin-right: 0.8em;
}
.app-detail{
    color: #5fd1dd;
    float: right;
}
.app-data-parameter{
    padding: 0 5px;
    display: inline-block;
    border: solid 1px #C0BFC4;
    border-radius: 5px;
}
.clear:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}
.found-div-border{
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 25px 10px;
    margin: 10px 0;
}
.found-div-border>div{
    float: left;
    text-align: center;
    position: relative;
    width: 50%;
}
.div-format{
    background-color: #e5e5e5;
    height: 10px;
}
.found-button{
    background-color: #ffb300;
}
.app-color-yellow{
    color: #ffb300;
}
.app-font-black{
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
.app-font-black2{
    font-size: 16px;
    color: black;
}
.app-13-black{
    color: black;
    font-size: 13px;
}
.app-13-green{
    color: #007900;
    font-size: 13px;
}
.app-13-red{
    color: #ff2900;
    font-size: 13px;
}
.app-font-grey{
    font-size: 13px;
    color: #999999
}
.app-font-red{
    font-size: 20px;
    font-weight: bolder;
    color: #ff2900;
}
.app-flex-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
}
.full-list-li>li,.app-flex-row2{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.app-insurance-img{
    width: 100%;
    height: 120px;
}
.app-div-margin{
    position: relative;
    margin: 15px;
    background-color: white;
}
.app-div-margin:first-child{
    margin-top: 0;
}
.app-insurance-btn{
    height: 46px;
    display: block;
    line-height: 46px;
    width: 100%;
    background-color: white;
    font-weight: bold;
    color: #666666;
    font-size: 18px;
    text-align: center;
}
.weui-popup__modal{
    box-sizing: border-box;
    background-color: #fafafa;
}
.app-back-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
}
.app-back-title .app-back{
    position: absolute;
    top: 5px;
}
.app-back{
    height: 30px;
    position: relative;
    line-height: 30px;
    background-color: white;
}
.app-back>span:first-child{
    padding-left: 20px;
}
.app-back:before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #999999;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    top: 8px;
    left: 7px;
}
li{
    list-style: none;
}
.full-top{
    background-color: #3bc5d5;
    height: 128px;
    position: relative;
    font-size: 12px;
    width: 100%;
    overflow: hidden;
}
.full-top>ul{
    padding: 24px 22px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    color: #fff;
}
.full-top>ul>li:before {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    top: -8px;
    left: 47%;
    width: 2px;
    height: 2px;
    border-radius: 4px;
}
.full-top>ul>li::after {
    content: "";
    position: absolute;
    top: -96px;
    left: 50%;
    background: #fff;
    width: 1px;
    height: 90px;
}
.full-top>ul>li.bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.full-top>ul>li.top {
    margin-top: 10px;
}
.full-top>ul>li {
    position: relative;
    text-align: center;
}
.full-top>ul>li>strong {
    font-size: 20px;
    display: block;
}
.app-bg-white{
    background-color: white;
}
.star .star-item.on {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB6ElEQVRYhb3XsWsTYRjH8U9jHVwUiiA0VoduEopQQcTNRRQqKjgoBRUc7dCt2KVLpf+Bm6IgOHTqoJtbh4JdWooiwUUXqRa6dEvrkKdwiZdLcrnLAy9397zP+/t9c8k9b27k+vqOAeJGHD/nFRgdxB0v43gNR3kEKgOY38HVGDN5RfICVLCcuF7Oq5UX4BFqieta5IYCcBJLKfmlmCsd4BkmU/KTMVcqwCksZswvRk1pAM9RzZivRk0pAGew0EPdAk73KprViM5hGlcSY6wHzTF8w5fE2MTvtOKRaMVnEybTMSZ6+QR9xM8A2UyA/RnFazwt2CwtJmLcTeTeVDCP7SEAtMc25ivYx238GKJ5PTz3j5+CX7iJ3SGY7+JWeLY8hnXNXe2gRPOD8KgfJ9r7wAYeolGCeSO0N5LJtEa0hrkSAOZCuyU6dcJXWCnQfCU0/4usVvwCHwsw/xRaqZEFcIS9AgD+yvi/2G0zulAAQKbGMAAu5gU4gfMFAFRDq2+AcYO/NwiN8TwAmbeuz+iolQXQ7fv/jid4HOdZ0VErD8BXzOIS3uJdnM/GXGEA7bdtR7OX1/Be637RiFwtatrfeAe6A1t4gCl8wGHGmsOomYo1W5HP9RvYwz1cxmoX4zSQ1Vh7X7MbpsY/t5FV+WQ2tc4AAAAASUVORK5CYII=)
}
.star .star-item.off {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB50lEQVRYhb3XsWsTYRjH8U9jHVwUiiA0VoduEopQQVxdREFRwUEpqOBoh27FLl0q/Q/cFAXBoZODboJjwS6tVZHgootUC126pXXIE7jEyyW53OWBl7t73uf9/b653D1vMvbx8xdDxOU4fsgrMD6MO57G8RIO8whUhjC/gYsxrucVyQtQwUrieiWvVl6Ae6glrmuRGwnAUSyn5JdjrnSAR5hOyU/HXKkAx7CUMb8UNaUBPEY1Y74aNaUAnMBiH3WLON6vaFYjOoVZXEiMiT40J/ANnxJjA7/TiseiFZ9MmMzGmOrnEwwQPwNkIwH2ZxzP8bBgs7SYinEzkXtRwQK2RgDQGVtYqGAP1/BjhOb18NxrvQW/cAU7IzDfwdXwbHsN65q72n6J5vvhUW8lOvvAOu6iUYJ5I7TXk8m0RvQW8yUAzId2W3TrhM+wWqD5amj+F1mt+AneFWD+PrRSIwvgELsFAPyV8Xux12Z0pgCATI1RAJzNC3AEpwsAqIbWwACThv/fIDQm8wBk3roBo6tWFkCv7/87HuB+nGdFV608AF8xh3N4iVdxPhdzhQF03rZtzV5ew2vt+0UjcrWo2S4CoLVoE3cwgzc4yFhzEDUzsWYz8rmegV3cwnms9TBOA1mLtbc1u2Fq/ANdQVclJCly6QAAAABJRU5ErkJggg==)
}
.star .star-item {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.rateValue{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 0 10px;
}
.progress {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 12px;
    background: #d2d2d2;
    overflow: hidden;
}
.progressBar {
    height: 100%;
    position: absolute;
    border-radius: 12px;
    background: #3bc7d4;
}
.app-full-btn{
    height: 46px;
    line-height: 46px;
    width: 100%;
    background-color: #3bc7d4;
    color: white;
    font-size: 18px;
    text-align: center;
}
.app-info-icon{
    background-image: url("../img/pic-talk.png");
    width: 20px;
    height: 18px;
    display: inline-block;
    background-size: 100% 100%;
    vertical-align: baseline;
}
.app-info-zan{
    background-image: url("../img/pic-dianzan.png");
    width: 20px;
    height: 18px;
    display: inline-block;
    background-size: 100% 100%;
    vertical-align: baseline;
}
.app-info-comment{
    background-image: url("../img/pic-pinglun.png");
    width: 20px;
    height: 18px;
    display: inline-block;
    background-size: 100% 100%;
    vertical-align: baseline;
}
.app-search-img{
    width: 100%;
    position: relative;
}
.app-search-img>img{
    width: 100%;
}
.app-search-input{
    background: url("../img/kuang.png") no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 43px;
    line-height: 43px;
    left: 5%;
    bottom: 10px;
    position: absolute;
}
.app-search-input>input{
    width: 80%;
    padding-left: 10px;
    box-sizing: border-box;
}
.app-search-icon{
    position: absolute;
    background: url("../img/icon-search.png") no-repeat;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    right: 10px;
}
.app-forum-list{
    position: relative;
    padding: 10px;
    z-index: 1;
    background-color: #f2f5f5;
    overflow: hidden;
}
.app-forum-list>a{
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}
.forum-list-img{
    height: 40px;
    margin-bottom: 5px;
}
.forum-list-img>img{
    width: 40px;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
}
.forum-list-img>span{
    line-height: 40px;
    vertical-align: middle;
}
.form-classify-list{
    width: 33.3%;
    float: left;
    text-align: center;
    display: inline-block;
    margin-top: 1rem;
    color: black;
}
.app-forum-list img,.form-classify-list img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.form-follow{
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    color: black;
}
.form-follow img{
    width: 40px;
    height: 40px;
}
.toFollowBtn{
    background-color: #FFFFFF;
    border: 1px solid #30BDF2;
    color: #30BDF2;
    width: 3.3rem;
    height: 28px;
    border-radius: 22px;
    line-height: 28px;
    font-size: 15px;
    margin: 5px auto 0 auto;
}
.toFollowBtn>img{
    width: 12px;
    height: 12px;
}
.toFollowedBtn{
    background-color: #DFE6E8;
    border: 1px solid #DFE6E8;
    color: #FFFFFF;
    width: 3.3rem;
    height: 28px;
    border-radius: 22px;
    line-height: 28px;
    font-size: 15px;
    margin: 5px auto 0 auto;
}
.app-back-right{
    position: absolute;
    height: 40px;
    line-height: 40px;
    right: 10px;
    font-size: 13px;
}
.app-font-blue{
    color: #30BDF2;
}
.form-content-img{
    margin-top: 10px;
}
.form-content-img>img{
    width: 32%;
    float: left;
}
.form-content-img>img:nth-child(2){
    margin: 0 2%;
}
.app-my-top{
    background-color: #ffecd5;
    padding: 30px 0 40px 0;
    overflow: hidden;
}
.app-my-top>div{
    float: left;
    height: 60px;
    position: relative;
}
.app-my-top>div:nth-child(2){
    min-width: 120px;
}
.app-my-top>div:first-child{
    line-height: 60px;
}
.app-my-top>div:first-child img{
    max-height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 5px;
    vertical-align: middle;
}
.app-my-top>div:last-child{
    width: 140px;
    float: right;
    background: url("../img/icon-jifen.png") no-repeat;
    height: 45px;
    background-size: 100% 100%;
    line-height: 45px;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-right: -14px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
.app-my-top .app-font-grey{
    position: absolute;
    bottom: 0;
    left: 0;
}
.app-my-middle{
    padding: 15px 0;
    background-color: white;
    margin-bottom: 10px;
}
.app-my-middle img{
    height: 43px;
    vertical-align: middle;
    width: 43px;
}
.app-my-middle span{
    vertical-align: middle;
}
.app-my-middle>div{
    position: relative;
    padding-left: 30px;
    height: 43px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.app-my-list{
    width: 33.3%;
    float: left;
    text-align: center;
    color: black;
    margin-top: 1rem;
    display: inline-block;
}
.app-my-list img{
    width: 25px;
}
.app-note-active{
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: #22ac38;
    border-radius: 5px;
}
.app-note-noActive{
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: grey;
    border-radius: 5px;
}
.app-bottom-tab{
    position: absolute;
    padding: 4px 30px;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: #f7f7fa;
    box-sizing: border-box;
}
.app-noLike-icon{
    display: inline-block;
    background: url("../img/pic-like.png") no-repeat;
    background-size: 100% 100%;
    width: 42px;
    height: 42px;
}
.app-like-icon{
    display: inline-block;
    background: url("../img/icon-like-red.png") no-repeat;
    background-size: 100% 100%;
    width: 42px;
    height: 42px;
}
.app-zan-like{
    display: inline-block;
    position: relative;
    background: url("../img/icon-dianzan-red.png") no-repeat;
    background-size: 100% 100%;
    width: 42px;
    height: 42px;
}
.app-noZan-like{
    display: inline-block;
    background: url("../img/icon-nozan.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 42px;
    height: 42px;
}
.note-detail-talk{
    width: 150px;
    height: 42px;
    background-color: #ffba17;
    line-height: 42px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 15px;
}
.note-detail-sum{
    position: absolute;
    display: none;
    border-radius: 10px;
    right: -5px;
    top: 0;
    padding: 0 5px;
    height: 15px;
    line-height: 15px;
    color: white;
    font-size: 12px;
    background-color: #FB6363
}
.note-detailNo-sum{
    position: absolute;
    display: none;
    border-radius: 10px;
    right: -5px;
    top: 0;
    padding: 0 5px;
    height: 15px;
    line-height: 15px;
    color: white;
    font-size: 12px;
    background-color: #A4A4A4
}
.note-popup-cancel{
    position: absolute;
    left: 0;
    box-sizing: border-box;
    height: 2.2rem;
    line-height: 2.2rem;
    color:#999999;
    z-index: 1;
    padding: 0 .5rem;
}
.app-img-40{
    width: 40px;
    height: 40px;
}
.my-goods-btn{
    width: 95%;
    position: absolute;
    bottom: 4px;
    left:2.5%;
}
.popup-center .weui-popup__modal{
    background: none;
}
.sign-div{
    background:url("../img/signIn.png") no-repeat center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
}
.sign-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    color: black;
    font-size: 15px;
    text-align: center;
}
.sign-text-red{
    color: #ff2900;
    margin: 0 1em;
}
.sign-div>img{
    position: absolute;
    width: 32px;
    right: 10%;
    top: 10%;
    height: 32px;
}
.app-forum-talk{
    font-size: 13px;
    padding: 10px 10px 0;
}
.article-comment{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 10px;
    border-bottom: 2px solid #C0BFC4;
}
.article-comment-co{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 15px
}
.article-content{
    z-index: 1;
    position: relative;
    padding: 0 15px;
    background-color: white;
}
.article-content img{
    max-width: 100%;
    height: auto;
}
.app-table{
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 2px 5px 0 #999999;
}
.app-table table{
    width: 100%;
    color: black;
    font-size: 12px;
    text-align: center;
}
.app-table thead{
    background-color: #e7e2d9;
}
.app-table th,.app-table td{
    padding: 10px 0;
}
.app-triangle{
    width:0;
    height:0;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 40px 40px 0 0;
    border-style: solid;
    border-color: #ffbb17 transparent;
    box-sizing: border-box;
}
.app-triangle>.word{
    position: absolute;
    top: -40px;
    width: 35px;
    left: 0;
    font-size: 14px;
    color: white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.app-net-circle{
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    background-color: #ffbb17;
    border-radius: 50%;
}
.app-step-btn{
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    z-index: 101;
}
.app-step-detail{
    margin-bottom: 50px;
}
.app-step-btn>div{
    width: 150px;
    margin: auto;
}
.app-step-close{
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 101;
}
.app-step-close>.weui-icon-cancel{
    font-size: 30px;
}
.app-step-detail img{
    max-width: 100%;
}
.search-table{
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}
.search-table table{
    width: 100%;
    font-size: 14px;
    color: #999999;
    text-align: center;
}
.search-table th{
    color: #7B7B7B;
}
.search-table tr td:first-child{
    color: #8e8e8e;
}
.search-table th,.search-table td{
    padding: 10px 0;
    position: relative;
}
.search-table th:before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #C7C7C7;
    color: #C7C7C7;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.search-table td:before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e8e8e8;
    color: #e8e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.search-table tbody>tr:nth-child(2n){
    background-color: #f9f7f1;
}
.sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
}
.sort-caret.ascending{
    border-bottom-color: #c0c4cc;
    top: 5px;
}
.sort-caret.descending {
    border-top-color: #c0c4cc;
    bottom: 7px;
}
.caret-wrapper{
    position: relative;
    display: inline-block;
    height: 34px;
    width: 24px;
    vertical-align: middle;
}
.ascending .sort-caret.ascending {
    border-bottom-color: #ffb300;
}
.descending .sort-caret.descending {
    border-top-color: #ffb300;
}
.article-title{
    text-indent: 1em;
    font-size: 16px;
    font-weight: bolder;
}
.search-url{
    text-decoration: underline;
    color: blue !important;
}