<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="port" value="12302"/>
    <!--票付通异常服务-->
    <add key="error_server_interface" value="http://zd.12301.cc/ErrorLogService.svc" />
    <!--票付通更新服务地址-->
    <add key="auto_updater_server_interface" value="http://zd.12301.cc/" />
  </appSettings>
</configuration>
