.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.idea
extra/service/printDemo.db
extra/service/photo.bmp
static/platform/printDemo.db
yarn-error.log
package-lock.json
